@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
#toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}
@layer components {
  .grid-card {
    @apply h-15 bg-blue-500 aspect-[4/3] rounded-lg md:aspect-[3/4] xl:aspect-[4/3] overflow-hidden relative hover:scale-95 transition-all duration-500;
  }

  .grid-card-img {
    @apply w-full h-full bg-cover bg-center absolute group-hover:scale-125 transition-all duration-500 group-hover:rotate-12;
  }
}

@theme {
  --font-inter: "inter";
  --animate-spin-slow: spin 3s linear infinite;
  --animate-goyang: goyang 1s ease-in-out infinite;
  @keyframes goyang {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
@layer base {
  h1 {
    /* font-family: var(--font-inter) / <alpha-value>; */
    @apply text-8xl;
  }
}
